* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}



main {
    background-color: #ccc;
    padding: 20px 0;
}

main section {
    width: 95%;
    max-width: 800px;
    margin: auto;
    background-color: #fff;
     border-radius: 15px;
    overflow: hidden;
}

main section#top {
    margin-bottom: 30px;
}

main section#top div.top div.fundo {
    background-color: #505377;
    width: 100%;
    height: 200px;
    position: relative;
}

main section#top div.top div.img {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    overflow: hidden;
    border: 4px solid #505377;
    display: block;
    position: absolute;
    bottom: -80px;
    left: 30px;
}

main section#top div.top div.img img {
    height: 100%;
    width: 100%;
}

main section#top div.btn {
    padding: 50px 5%;
    text-align: right;
}

main section#top div.btn a {
    color: black;
    text-decoration: none;
    background-color: #ccc;
    padding: 10px 25px;
    border-radius: 20px;
    font-weight: bold;
}

main section#top div.conteudo {
    padding: 20px 20px 7px 20px;
}

main section#top div.conteudo h1 {
    font-size: 30px;
}

main section#top div.conteudo p {
    margin: 10px 0;
    line-height: 20px;
}

main section#top div.info {
    display: flex;
    gap: 10px;
    padding: 0 20px;
}

main section#top div.info a {
    color: black;
    text-decoration: none;
}

main section#top div.total {
    display: flex;
    justify-content: space-around;
    margin: 30px 0;
}

main section#top div.botoes {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 0 0 20px 0;
}

main section#top div.botoes a {
    color: black;
    background-color: #ccc;
    padding: 10px 20px;
    border-radius: 20px;
    text-decoration: none;
    font-weight: bold;
    width: 45%;
    text-align: center;
}
main section#top div.botoes a#btnseguir {
    background-color: #505377;
    color: white;
}

main section#baixo div.botoes {
    padding: 18px;
    display: flex;
    justify-content: space-around;
}

main section#baixo div.botoes a {
    color: black;
    text-decoration: none;
    font-weight: bold;
    width: 25%;
    text-align: center;
    padding: 10px;
    transition: 0.5s ease-in-out;
    border-radius: 8px;
}

main section#baixo div.botoes a:hover {
    background-color: #505377;
    color: #fff;
}

main section#baixo div.botoes a.ativo {
    border-bottom: 2.5px solid #505377;
}

main section#baixo div.imagens {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 5px;
    padding-bottom: 15px;
    overflow: hidden;
}

main section#baixo div.imagens a {
    width: 31%;
overflow: hidden;
}

main section#baixo div.imagens a:hover img{
    transform: scale(1.2);
}

main section#baixo div.imagens a img {
    height: 100%;
    width: 100%;
    transition: 0.5s ease-in-out;
}